#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* new css */
.todoApp {
  background-color: #494545;
  border: 1px solid #888;
  align-self: center;
  padding: 20px;
}

.todoApp .todologic {
  border: 1px solid #dbb4b4;
}

.todoApp .todologic .todoinput {
  padding: 10px;
  border: 1px solid #3346f1;
}

.todoApp .todologic .todoinput input,
.todoApp .todologic .todoinput i {
  padding: 10px;
}

.todoApp .todologic .todoinput input {
  background-color: #494545;
  color: aliceblue;
  font-size: 18px;
}

.todoApp .todologic .todoinput .form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.todoApp .todologic .todolist {
  display: flex;
  flex-direction: column;
  gap: 5px 0;
}

.todoApp .todologic .todolist .todoitem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgb(151, 146, 146);
}

.todoApp .todologic .todolist .todoitem span,
.todoApp .todologic .todolist .todoitem i {
  padding: 10px;
}
